# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.13
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [ --allow-multiple-documents ]
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [ '--no-sort-keys' ]
        exclude: ^cdk\.context\.json$
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: detect-aws-credentials
        args: [ --allow-missing-credentials ]
  - repo: https://github.com/bwhmather/ssort
    rev: 0.15.0
    hooks:
      - id: ssort
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    # Ruff version.
    rev: 'v0.14.6'
    hooks:
      - id: ruff
        args: [ --fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.18.2"
    hooks:
      - id: mypy
        args: [--explicit-package-bases, --namespace-packages, --ignore-missing-imports, --no-warn-unused-ignores]
        additional_dependencies:
          - "types-PyYAML"
          - "pydantic>=2.5.2"
          - "types-retry"
          - "types-requests"
  - repo: https://github.com/Zac-HD/shed
    rev: "2025.6.1"
    hooks:
      - id: shed
        args: [ --refactor, --py313-plus ]
        types_or: [ markdown, rst ]
  - repo: https://github.com/rubik/xenon
    rev: v0.9.3
    hooks:
      - id: xenon
        args: ["--max-average=C", "--max-modules=C", "--max-absolute=C", "-e 'cdk/tests/infrastructure/*,.venv/*,cdk.out/*'"]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.2
    hooks:
      - id: bandit
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
  -   repo: https://github.com/Yelp/detect-secrets
      rev: v1.5.0
      hooks:
      -   id: detect-secrets
          exclude: (cdk.context.json|cdk/tests/infrastructure/snapshots/test_s3_stack/test_snapshot/ppe.yaml)
  - repo: https://github.com/owenlamont/uv-secure
    rev: 0.15.1
    hooks:
      - id: uv-secure
  - repo: https://github.com/hukkin/mdformat
    rev: 1.0.0
    hooks:
    - id: mdformat
      args: ["--number"]
      additional_dependencies:
      - mdformat-gfm
      - mdformat-black
